.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  display: flex;
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
}

.data {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  align-items: center;
  width: 100%;
}

.data_1 {
  display: flex;
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
  justify-content: space-between;
  
  width: 50%;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
}

